{foreach from=$carsMarka item=marka}
<div><b>{$marka.Name}</b></div>
    {foreach from=$carsModel[$marka.Name] item=model}
    <li><i class="icon-pencil" onclick="ShowElementInMenu('model{$model.Id}');" style="cursor: pointer;"> </i>&nbsp;&nbsp;{$model.Name} {$model.Description}</li>
    <div id="model{$model.Id}" class="preload">
        <form class="form-inline ajaxform" method="post" action="/catalog/doRedactCars/{$model.Id}" callback="refreshlistCars();">
            <input type="text" name="modelName" value="{$model.Name}" style="width: 216px;">
            <div class="input-append">
                <input type="text" name="modelYear" value="{$model.Description}" style="width: 120px;">
                <input type="submit" class="btn btn-success" value="Сохранить">
            </div>
        </form>
    </div>
    {/foreach}
{/foreach}