<form class="well well-small" method="post" action="/users/do_login/">
	<input type="text" name="login"    value="{if $smarty.cookies.login}{$smarty.cookies.login}{else}Email{/if}"    style="width:190px;height:25px;" onFocus="if (this.value=='Email') this.value='';" onBlur="if (this.value=='') this.value='Email';">
	<input type="text" name="password" value="{if $smarty.cookies.password}{$smarty.cookies.password}{else}Пароль{/if}" style="width:190px;height:25px;" onFocus="if (this.value=='Пароль') this.value='';" onBlur="if (this.value=='') this.value='Пароль';">
	<div>
        <nobr>
		<input type="checkbox" name="saving" value="1" id="rememberme">
		<label for="rememberme" class="checkbox">
			<span style="color:#ffffff;">Запомнить меня</span>
		</label>
        </nobr>
	</div>
	<button type="submit" class="btn" style="width:100px;"><i class="icon-user"></i> Войти</button>
</form>