<form class="well" method="post" action="/users/do_logout/">
	<input type="text" value="{$SetName}" style="width:190px;" disabled>
	<button type="submit" class="btn" style="width:100px;"><i class="icon-user"></i> Выйти</button>
</form>