<form method="post" action="/search/do_search/" class="form-search" style="margin:20px 20px 90px 20px;">
    <div class="input-append">
        <input type="text" class="search-query" style="width:130px;" name="poiskArt" placeholder="номер детали"
               value="{$smarty.post.poiskArt}"
               ondblclick="this.value='';"
               onblur="this.value={$smarty.post.poiskArt}">
        <button type="submit" class="btn"><i class="icon-search"> </i></button>
    </div>
</form>