<div>
    <table class="table table-bordered table-hover">
    {foreach from=$proizv item=val}
        <tr onclick="ShowElementInMenu('redactItem{$item.Id}');">
            <td>{$val["prName"]}</td>
            <td>{$val["prDescription"]}</td>
        </tr>
        <tr id="s{$val['prId']}" class="preload">
            <td></td>
        </tr>
    {/foreach}
    </table>
</div>