/*form input { height:28px!important }*/
.preload {display:none;}

.menuitem1 { /*меню 1 уровня*/
	margin: 2px;
	padding:6px 0px 0px 10px;
	width:180px;
	height:25px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.menuitem2 { /*меню второго уровня*/
	margin: 2px 2px 2px 20px;
	padding:4px 0px 0px 10px;
	width:160px;
	height:22px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.colorfull {background-color: rgba(235, 127, 20, 0.58);}

#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 9999;
    vertical-align: middle;
    text-align: center;
}

#loader div {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #FFF;
    font-weight: 700;
}